.found{
    font-size: 20px;
    text-align: left;
    padding-left: 12%;
    color: rgb(89, 87, 87);
}
.search-main-cnt{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 4%;
    overflow-y: hidden;

    a{
        text-decoration: none;
        color: black;
        display: flex;
        column-gap: 20px;
        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 20px;
        padding: 20px;
    
        .img{
            width: 300px;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .p-cnt{
            p{
                text-align: left;
                font-size: 22px;
                font-weight: 700;
            }
        }
      
    }
    
}
@media screen and (max-width: 770px) {
    .search-main-cnt{
        a{
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }
}
@media screen and (max-width: 420px) {
    .search-main-cnt{
        .p-cnt{
            p{
               font-size: 17px;
            }
        }
    }
}